/*html, body {
    height: 100%;
}*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /*overflow: hidden;*/
}

#app {
    text-align: center;
    /*display: flex;
    height: 100%;
    align-items: center;*/
    background-image: url('../images/board-bg.png');
    padding: 40px;
    background-size: 100%;
}

/* General styles */
.board-name {
    display: block;
    text-align: center;
    margin: auto;
}
.bg-yellow {
    padding: 120px;
    background-color: #feea37;
    /*opacity: .9;*/
} 

.logo {
    width: 500px;
    position: absolute;
    top: -26px;
    left: -35px;
}

#landing .btn {
    padding: 30px 40px;
    border-radius: 100%;
    font-size: 22px;
    margin: 40px;
    font-weight: 700;
    box-shadow: 2px 2px #365271;
}

#boards h2, #characters h2 {
    margin: 40px 0;
    font-size: 44px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px black;
}

#boards .bg-yellow, #characters .bg-yellow {
    position: relative;
}

.char-box {
    border: 1px solid #000;
    height: 400px;
}

#box-tiles {
    padding: 30px 50px;
    position: relative;
}

#box-tiles .row div {
    height: 200px;
}

.board-img {
    width: 100%;
}

.activeBox{
    box-shadow: 5px 5px 6px #fda7d0d1;
}

/*for choose a char*/

label {
    display: inline-block;
    width: 100px;
    height: 100%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    box-shadow: 10px 5px 5px red;
}

.radioGroupChar label {
    cursor: pointer;
}

.radioGroupChar img {
    width: 100%;
}

.character, #sidenav #theChibi {
    width: 100%;
}

/* for boardgame */

.boardgame li:nth-child(odd) {
    background: red;
}

.boardgame li:nth-child(even) {
    background: blue;
}

.boardgame li {
    height: 40px;
    width: 40px;
    /*border: 1px solid black;*/
    display: inline-block;
}

.purple {
    background-color: #CD5396;
}

.blue {
    background-color: #ADD0FD;
}

.tb-boardgame {
    margin-top: 120px;
    background-image: url('../images/board-final-piece.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.tb-boardgame td {
    /*border: 1px solid #000;*/
    height: 110px;
    width: 150px;
    padding: 15px 0 20px 25px;

}.tb-boardgame img {
     width: 50%;
 }

 .noChibi {
     display: none;
 }

 .diceContainer, .chibiContainer {
    background-color: #000000cf;
    padding: 60px;
 }

 .diceContainer span, .chibiContainer span {
    color: #FFF;
    font-size: 21px;
    margin-bottom: 10px;
    display: inline-block;
 }

 .chibiContainer {
    margin-top: 10px;
 }